@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; // Sử dụng layout của Admin
}

<h1>Chào mừng đến trang quản trị!</h1>
<p>Đây là khu vực dành cho Administrator.</p>